# App
NEXT_PUBLIC_APP_NAME="Your App Name"

# Company
NEXT_PUBLIC_COMPANY_NAME="Training LLC"

# Auth
NEXTAUTH_URL="http://127.0.0.1:3000"
NEXTAUTH_SECRET="your-secret-key-at-least-32-chars-long"

# Database
DATABASE_URL="postgresql://username:password@host:port/database?sslmode=require"

# EMAIL
RESEND_API_KEY="awesomekeygoeshere"
SMTP_FROM="App Name<noreply@orgname.tld>"