# App
NEXT_PUBLIC_APP_NAME="Your App Name"

# Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-at-least-32-chars-long"

# Database
# PROD
# DATABASE_URL="postgresql://username:password@host:port/database?sslmode=require"
# DEV
DATABASE_URL="postgresql://username:password@host:port/database?sslmode=require"
